@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ebf0ff;
}

@layer utilities {
  .card {
    @apply rounded-md overflow-hidden shadow-lg bg-white;
  }

  .center {
    @apply flex justify-between items-center;
  }

  .centered-div {
    @apply flex justify-center flex-col m-auto h-screen;
  }

  .height-without-header {
    height: calc(100vh - 60px);
  }
}

.common-width {
  width: 80vw;
}
