@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ebf0ff;
}

@layer utilities {
  .center-content {
    @apply flex justify-between;
  }

  .common-padding {
    margin: 0vw 21vw 0 19vw;
  }

  @media only screen and (max-width: 768px) {
    .common-padding {
      margin: 0vw 10vw 0 10vw;
    }
  }
}
