@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ebf0ff;
}

@layer utilities {
  .card {
    @apply rounded-md overflow-hidden shadow-lg bg-white
  }

  .center {
    @apply flex justify-between items-center
  }
}

.common-width {
  width: 80vw;
}