@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ebf0ff;
}

@layer utilities {
  .center-content {
    @apply flex justify-between;
  }
}

.common-width {
  width: 80vw;
}